<%= form_with(model: @info,class:'form-wrap', local: true) do |f| %>
  <div class='message-form'>
       <h3 class= "text-center ">編集する</h3>
         <div class="mb-3">
         <div> <%= f.number_field :weight,step: '0.1', placeholder: "Weight",class:"form-control"%></div>
         </div>
         <div class="mb-3">
         <div> <%= f.number_field :height,step: '0.1', placeholder: "Height" , class:"form-control"%></div>
         </div>
         <div class="mb-3">
         <div> <%= f.number_field :bmi,   step: '0.1', placeholder: "BMI" , class:"form-control"%></div>
         </div>
         <div class="mb-3">
         <div> <%= f.number_field :ave_wei,step: '0.1', placeholder: "ave_wei",class:"form-control" %></div>
         </div>
       </div>
        <div class="mb-3">
          <div id="bmi-result"> </div>
          <div id="ave-wei"></div>
         </div>
  </div>
       <div class="d-grid gap-2 col-6 mx-auto">
        <div class="btn btn-secondary">
           <%= f.submit "SEND",class: "submit-btn" %>
       </div>
       </div>
 <% end %>
    