<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @info, local: true) do |f| %>
      <div> <%= f.number_field :weight, placeholder: "Weight"%></div>
     <div> <%= f.number_field :height, placeholder: "Height" %></div>
     
      
     <div><%= f.number_field :bmi, placeholder: "BMI" %></div>
     <div id="bmi-result"> </div>
     
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>