<!DOCTYPE html>
<html>
  <head>
    <title>WeightApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
       <div class="inner-header">
          <h1 class="title"><a href="/">WeightApp</a></h1>
          <% if user_signed_in? %>
           <div class="link_new">
             <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
             </div>
           <div class="link_new"> 
             <%= link_to "今日の体重・身長を入力する",new_info_path %> 
           </div>
          <% else %>
           <div class="link_new">
             <%= link_to "ログイン", new_user_session_path, class: "post" %>
             <%= link_to "新規登録", new_user_registration_path, class: "post" %>
           </div>
         <% end %>
       </div>
    </header>
    <%= yield %>
      <footer>
      <p>
        Copyright WeightApp 2021.
      </p>
    </footer>
  </body>
</html>
